// 图片路径
@imgPath: "../images/";

// 主题颜色
@theme-color: #3385FF;
@themeColor: @theme-color;

/**
 * 按钮 Button
 */
@btn-base-padding-vertical: 4px;
@btn-base-padding-horizontal: 12px;
@btn-base-border-radius: 4px;

@btn-border-color: @theme-color;
@btn-default-bg: #fff;

/**
 * 表格 Table
 */
@table-padding-vertical: 12px;
@table-padding-horizontal: 14px;
@table-head-bg: #000;
@table-head-color: #fff;
@table-head-font-size: 20px;

@table-body-bg: @theme-color;
@table-body-bg-odd: lighten(@theme-color, 8%);
@table-body-bg-even: darken(@theme-color, 8%);
@table-body-color: #fff;
@table-body-font-size: 18px;