<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>字体工具</title>
    <style>
        body {
        }
        .table-fonts {
            font-size: 20px;
            border-collapse: collapse;
        }
        .table-fonts tr > td {
            border: 1px solid #eee;
            padding: 4px 12px;
        }
        .table-fonts .col-test-text {
            width: 46vw;
            word-wrap: break-word;
            word-break: break-all;
        }
        .row-input {
            display: flex;
        }
        .row-input > input {
            width: 460px;
            border: 1px solid #ccc;
            padding: 5px 12px;
        }
    </style>
</head>
<body>
    <div id="main">
        <p class="row-input">
            <input type="text" placeholder="文字内容" v-model="testtext" />
            <button type="button" @click="getSysFonts">查看系统字体</button>
        </p>
        <table class="table-fonts">
            <tbody>
                <tr v-for="(row, i) in list" :key="i"
                    :style="getStyle(row)">
                    <td >{{row.fontName}}</td>
                    <td >{{testtext}}</td>
                    <td>{{row.support ? '' : '未安装'}}</td>
                </tr>
            </tbody>
        </table>

        <table class="table-fonts">
            <tbody v-if="sysFonts">
                <tr>
                    <th colspan="10">系统字体：</th>
                </tr>
                <tr v-for="(f, i) in sysFonts" :key="i"
                    :style="getStyle(f)">
                    <td>{{f.family}}</td>
                    <td>{{f.fullName}}</td>
                    <td>{{f.postscriptName}}</td>
                    <!--<td>{{f.style}}</td>-->
                    <td class="col-test-text">{{testtext}}</td>
                </tr>
            </tbody>
        </table>

    </div>

</body>
</html>
<script src="../js/vue.min.js"></script>
<script src="../js/font_support_check.js"></script>
<script>
    var vm = new Vue({
        el: '#main',
        data: function () {
            return {
                testtext: '能力汇聚一二三四五六七八九十1234567890.ABCDEFGhijklmnOPQRSTuvwzxy',
                sysFonts: null,
            }
        },
        methods: {
            getStyle: function (row) {
                var s = {}
                if (row.fontName) {
                    s.fontFamily = row.fontName
                } else if (row.family) {
                    s.fontFamily = row.family
                }
                return s
            },
            getSysFonts: function () {
                window.queryLocalFonts().then(data => {
                    const map = {}
                    this.sysFonts = data.filter(row => {
                        if (!map[row.family]) {
                            map[row.family] = row
                            return true
                        }
                        if (row.style !== 'Regular') {
                            return false
                        }
                        return true
                    })
                })
            },
        },
        computed: {
            list() {
                return [
                    'Arial', 'sans-serif',
                    'Microsoft Yahei',
                    'PingFangSC-Regular',
                    'Helvetica Neue',
                    'SF Pro Text', 'Source Han',
                    '宋体', '黑体',
                    'STHeiti',
                    'Hiragino Sans GB',
                ].map(function (fontName) {
                    return {
                        fontName: fontName,
                        support: checkSupportFont(fontName),
                    }
                })
            }
        },
        mounted: function () {
            window.PageFonts = this
        }
    })
</script>
